* {
    font-family:'Poppins', sans-serif;
    ;
    color:rgb(226 ,226, 226);
    box-sizing: border-box;
}
nav {
    z-index: 1;
    position: fixed;
    top: 0;
    margin: 0px;
    padding:0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
}

.logo {
    color: rgb(226 ,226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: rgb(226 ,226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.nav-links a:hover {
    color:rgba(127, 126, 126, 0.635);
}

.nav-links li{
    list-style: none;
}

.nav-control {
    display: none;
}
.nav-control div{
    width: 25px;
    height: 3px;
    background-color: rgb(226 ,226, 226);
    margin: 5px;
    transition: transform 0.3s ease-in;
}

@media screen and (max-width: 1024px){
    .nav-links {
        width: 60%;
    }
    img {
        max-width: 100%;
        max-height: 50%;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 82vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-control {
        display: block;
    }
    form {
        max-width:100%;
        text-align: center;

    }
    .contactwrap {
        width: auto;
        padding: auto;
        margin: auto;
    }
    #submit {
        max-width: fit-content;
    }
    img {
        max-width: fit-content;
        max-height: fit-content;
        margin: auto;
        padding: auto;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(45deg) translate(5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(-45deg) translate(5px,-6px);
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    margin-top: 4rem;
    padding: 2rem;
    background-color: #000000;
    border-radius: 8px;
    width: 95%;
}

.image h1{
    text-align: center;
    text-transform: uppercase;
}
img {
    width: 800px;
    height: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid rgb(226 ,226, 226)
}

.image p {
    font-size: 16px;
    padding-left: 30px;
}
strong {
    font-weight: bolder;
    color:rgb(226 ,226, 226)
}

form {
    display: block;
    box-sizing: border-box;
}
.contactbox {
    margin: 3rem 5rem;
    padding: 2rem 5rem;
    font-size: 20px; 
    font-weight: bold;
}

.contactwrap {
    background-color: #000000;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-sizing: border-box;
    width: 95%;
    border-radius: 8px;
}
textarea {
    color:rgba(0, 0, 0, 0.635);
    font-weight: bold;
    padding: 2px;
    width: 70%;
    height: 10rem;
}

label {
    margin-bottom: 5px;
}
input {
    margin-bottom: 5px;
}

#name {
    width: 70%;
    font-weight: bolder;
    padding: 3px;
    color: rgba(0, 0, 0, 0.635);
}
#email{
    width: 70%;
    font-weight:bolder;
    padding: 3px;
    color: rgba(0, 0, 0, 0.635);
}
#submit {
    text-align: center;
    width: 200px;
    height: 40px;
    margin: 5px auto;
    background-color: rgba(28, 24, 24, 0.635);
    border-radius: 9px;
}

footer{
    background-color: rgb(30, 101, 30);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.material-icons {
    font-size: 16px;
}
